body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

a{
    color: #000;
    text-decoration: none;
}

.divvideo{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.video{
   width: 100%;
}

.tela1{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0%;
}

h1, h2, h3, .p{
    text-align: center;
}

@media screen and (max-width: 1054px) {
    .video{
        height: 100%;
        width: auto;
    }

    .divvideo{
        overflow: hidden;
        height: 100%;
        width: 100%;
        margin: 0px;
    }

}